html,body {
	width:99.5%;
	margin:-1px 0 0 0;
	padding:0px;
}
body *{
	margin:0;
	font-family: "MS UI Gothic";
	/*font-family: "Times New Roman";
	font-family: "Courier New";
	font-family: "Symbol";
	font-family: "Tahoma";*/
	font-size:16px;
	line-height:115%;
}

form{
	width:100%;
}

input[type=text]{
	border: 0px;
	background:#FFFF66;
	padding:2px 2px 1px 2px;
	font-size:120%;
}

select{
/*	width:220px !important;*/
	/*border: 1px solid #fff;*/
	padding:0px 1px;
	margin:1px 1px 0px 1px;
}

h1{
	font-size:110%;
	font-weight:bold;
	text-align:center;
	background:#eee;
	color:#000;
	padding:2px 0 0 0;
	margin:0;
}

h2{
	font-size:110%;
	font-weight:normal;
	background:#eee;
	color:#000;
	padding:3px 2px 1px 2px;
	margin-top:1px;
	display:inline-block;
	width:38%;
	float:left;
	font-weight:bold;
}



span.h2{
	word-wrap: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	font-size:110%;
	font-weight:bold;
	padding:0;
	display:inline-block;
	width:65%;
}

span.full{
	word-wrap: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	font-size:110%;
	font-weight:bold;
	padding:5px 2px 1px 5px;
	display:inline-block;
	width:100%;
}

.first-col{
	margin-top:2px;
}

h2.full{
	margin-top:3px;
	width:100%;
	color:#000;
}
.btn-area{
	width:100%;
	padding:0;
	margin:0px;
	position:fixed;
	bottom:1px;
	border:0;
}

.input-area,.btn-area table,.input-area table{
	width:100%;
	padding:0px;
	margin:0;
}

th{
	background:#ddd;
	padding:2px 2px;
	font-weight:normal;
	font-size:100%;
}

table.select-list{
	width:90%;
	margin:0 auto;
}

table.select-list td{
	padding:0px 2px;
	font-weight:bold;
	vertical-align:middle;
}

table.select-list td div{
	word-wrap: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	font-weight:bold;
	display:inline-block;
}

div.hhtMenu table.select-list td{
	padding:3px 0 1px 20px;
	font-size:110%;
	font-weight:bold;
	vertical-align:middle;
}

.btn-f1,.btn-f2,.btn-f3,.btn-f4,.btn-f0{
	width:24%;
	padding:1px 1px 0 1px;
	margin:0px;
	text-align:center;
	font-size:100%;
	float:left;
}

.btn-f1{
	background:red;
	color:#fff;
}

.btn-f2{
	background:blue;
	color:#fff;
}

.btn-f3{
	background:green;
	color:#fff;
}
.btn-f4{
	background:yellow;
	color:#000;
}
.input-full{
	width:100%;
	margin-left:1px;
	margin-bottom:0px;
	display:inline-block;
	word-break: break-all;
	word-wrap: break-word;
}

.input-half{
	width:47%;
	margin-left:1px;
	margin-bottom:1px;
	display:inline-block;
}

.select-full{
	width:100%;
	font-size:100%;
	font-weight:bold;
}

.select-half{
	width:65%;
	font-size:100%;
	font-weight:bold;
}

.text-full{
	width:65%;
	font-size:100%;
	font-weight:bold;
}

.text-half{
	width:35%;
	font-weight:bold;
	margin:0 1px !important;
}

.mt10{
	margin-top:10px !important;
}

.mt5{
	margin-top:5px !important;
}
.mt2{
	margin-top:2px !important;
}
.mb0{
	margin-bottom:0px !important;
}

.btn-full{
	width:100%;
	padding: 4px 3px;
	margin: 2px 0px;
	font-size:105%;
	text-align:left;
	font-weight:bold;
	float:left;
}

span.operator_name{
	word-wrap: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-align:right;
	float:right;
	padding:2px 3px 1px;
	font-size:105%;
	margin:1px 0 0;
	width:80%;
}

.center{
	text-align:center;
}

.left{
	text-align:left;
}
.disnon{
	display:none;
}

.alert
,.confirm
,.processing
{
	position:fixed;
	top:1%;
	bottom:1%;
	left:1%;
	right:1%;
	z-index:100;
	background:#fff;
	border:2px solid red;
	padding:2px 0px 2px 2px;
}

.processing
{
	border:2px solid #666;
	text-align:center;
	font-size:110%;
	padding-top:50px;
	font-weight:bold;
	background:#eee;
}

.alert h1
,.confirm h1
{
	background:red;
	color:#fff;
	width:99%;
	font-size:100%;
}


.alert .message
{
	padding:5px 5px;
	height:220px;
	word-break: break-all;
}
.confirm .message
{
	padding:5px 5px;
	height:180px;
	word-break: break-all;
}

.alert .message div
,.confirm .message div
{
	padding-left:0.5em;
	text-indent:-0.5em;
	margin-bottom:5px;
}

.alert .fix
,.confirm .fix
{
	text-align:center;
}

.alert div
,.confirm div
{
	/*font-size:95%;*/
}


.right
{
	text-align:right;
}

div.screen{
	width:100%;
	height:270px;
	overflow-y:hidden;
}

span.title{
	width:62px;
	text-align:right;
	display:inline-block;
}

div.alertPlanNo{
	color:red;
	font-weight:bold;
}

div#Test{
	width:1px; !important;
}

.red{
	color:red;
}


.selected{
	background:#FFFF66 !important;
}

.complete{
	background:#ddd;
}

.current_page,.total_page,.progress,.progress_total{
	font-weight:bold;
	font-size:100%;
}

div.check_result{
	width:80%;
	text-align:center;
	font-size:200%;
	margin:10% auto;
	padding:10% 0;
}

div.check_result.ok{
	color:#fff;
	background:blue !important;
}

div.check_result.ng{
	color:#fff;
	background:red !important;
}

.section #btn-1,
form#nyuka h3,
h1.hht001 {
    background-color: yellow;
    color: #000;
}

.section #btn-2,
form#nyuko h3,
h1.hht002 {
    background-color: orange;
    color: #000;
}

form#shuko,
form#shuko_confirm,
form#shuko_finish {
    background: rgb(174, 173, 230);
}

.section #btn-3,
form#shuko h3,
h1.hht003 {
    background-color: rgb(0, 90, 200);
    color: #FFF;
}

.section #btn-4,
h1.hht004 {
    background-color: rgb(200, 80, 245);
    color: #FFF;
}

.section #btn-5,
form#shuko_packing h3,
h1.hht005 {
    background-color: rgb(0, 60, 160);
    color: #FFF;
}

form#idou,
form#side_idou{
    background: rgb(198, 255, 198);
}

.section #btn-6,
form#idou h3 ,
h1.hht006 {
    background-color: green;
    color: #FFF;
}

.section #btn-7,
h1.hht007 {
    background-color: rgb(137, 189, 35);
    color: #FFF;
}

form#label{
    background: rgb(255, 242, 204);
}

.section #btn-8,
h1.hht008 {
    background-color: rgb(191, 144, 0);
    color: #FFF;
}

.section{
	width:99%;
	margin-top:2px;
    border:1px solid #ccc;
}

.sec-1 {
    background: lightyellow;
}

.sec-2 {
    background: lightblue;
}

.sec-3 {
    background: rgb(198, 255, 198);
}

.sec-4 {
    background: rgb(255, 242, 204);
}